* ident
extand_date ident
bash_functions filter=dater
wakeup filter=dater
*.c filter=dater
*.cpp filter=dater
*.sh filter=dater
*.h filter=dater
*.awk filter=dater
*.py filter=dater
*.php filter=dater
date*.* filter=dater
my_addressbook -text diff -text merge
